.nav div span {
    margin: 0 15px;
}

.nav div {
    height: 50px;
    line-height: 50px;
    border-bottom: #ccc dashed 1px;
}

.nav {
    width: 100%;
    border-bottom: #333 1px solid;
}

.w100p {
    width: 100%;
}